body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color:rgb(46, 204, 113);
}

.carImg {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.car {
    position: absolute;
    width: 15%;
    height: fit-content;
    padding: 0;
    margin: 0;
    z-index: 5;
}

.middleLine {
    position: absolute;
    height: 25%;
    width: 4%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(255,255,255,0.5);
    z-index: 3;
}
#middleLine_01 {
    top: -10%;
}
#middleLine_02 {
    top: 35%;
}
#middleLine_03 {

    top: 80%;
}
#otherCar_01{
    left: 20%;
    top: 10%;
}
#otherCar_02{
    left: 0;
    top: 30%;
}
#otherCar_03{
    left: 20%;
    top: 50%;
}
#otherCar_04{
    left: 0;
    top: 70%;
}

#mainContainer {
    position: relative;
    height: 90%;
    width: 30%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    background-color: #292929;
    overflow: hidden;
    z-index: 2;
}

#restartTab {
    position: absolute;
}

#scoreSection {
    height: 10%;
    width: 30%;
    position: absolute;
    border: 1px solid black;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}